# Auto detect text files and perform LF normalization
* text=auto
https://data.geopf.fr/telechargement/download/BDTOPO/BDTOPO_3-5_TOUSTHEMES_GPKG_LAMB93_D006_2025-09-15/BDTOPO_3-5_TOUSTHEMES_GPKG_LAMB93_D006_2025-09-15.md5
https://data.geopf.fr/telechargement/download/BDTOPO/BDTOPO_3-5_TOUSTHEMES_GPKG_LAMB93_D006_2025-09-15/BDTOPO_3-5_TOUSTHEMES_GPKG_LAMB93_D006_2025-09-15.7z