services:
  mongo:
    image: mongo:7.0
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  truck-api:
    build: .
    container_name: flask_trucks_app
    ports:
      - "5000:5000"
    environment:
      MONGO_URI: "mongodb://mongo:27017"
      SEED_DB: "true"
    depends_on:
      - mongo

volumes:
  mongo_data:
